<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<section>
  <h1>Profile</h1>
  <% profiles.forEach(profile => { %>
    <li>
      <a href='/profiles/<%= profile._id %>'><%= profile.name %></a>
      </li>
  <% }) %> 
  <% if (user) { %> 
  <h2> All Profiles</h2>
  <form action="/profiles" method="POST">
    <label>
      Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Console or PC?
      <input type="text" name="profile">
    </label>
    <button type="submit">Add Profile</button>
  </form>
</section>
<% } %>


<%- include('../partials/footer') %> 