<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p> Introducing <%= profile.owner.name %>...</p>
  <h1><%= profile.name %></h1>
  <% if (profile.owner.equals(user?.profile._id)) {
    <a href="/profiles/<%= profile._id %>/edit">
      <button class="edbtn">Edit Profile</button>
    </a>
    <form action="/profiles/<%= profile._id %>?_method=DELETE" method="POST">
      <button class="dtlbtn" type="submit">Delete</button>
    </form>  
  <% } %>
  <h2>Comments</h2>
  <% if (user) { %>
  <form action="/profiles/<%= profile._id %>/comments" method="POST">
    <textarea name="content"></textarea><br>
    <button>Add Comment</button>
  </form> 
  <% } %>
</section>

<%- include('../partials/footer') %>