<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Made a Mistake No Problem</h1>
  <h2> Edit the Game Info!</h2>
  <form action="/games/<%= game._id %>?_method=PUT" method="POST">
   <label>
    Game:
    <input
      type="text"
      name="title"
      value="<%= game.title %>"
      autocomplete="off"
    >
   </label>
   <label>
    Platform:
    <input
      type="text"
      name="platform"
      value="<%= game.platform %>"
      >
   </label>
   <label>
    Publisher:
    <input
      type="text"
      name="publisher"
      value="<%= game.publisher %>"
      >
   </label>
  <label>
    Playable?
    <input
      type="checkbox"
      name="playable"
      <%= game.playable ? "checked" : ""  %>
    >     
  </label>
  <button type="submit">Edit the Game</button>
  </form>
</section>

<%- include('../partials/footer') %>