<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<section>
  <h1>Games!</h1>
  <% if (user) { %>
  <h2>Add a Game🎮</h2>
  <form action="/games" method="POST">
    <label>
      Game Title:
      <input type="text" name="title" autocomplete="off">
    </label>
    <label>
      Playable?
      <input type="checkbox" name="playable">
    </label>
    <button type="submit">Save your Game?</button>
  </form>
  <% } %>
  <h2>All Games</h2> 
  <ul>
    <% games.forEach(game => { %>
      <li>
        🎮
        <a href="/games/<%= game._id %>"><%= game.title %></a>
        is <%= game.playable ? 'playable' : 'playable' %></li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %> 