<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p> From the mind of <%= game.owner.name %>... </p>
  <h1><%= game.name %></h1>
  <h2> This videogame is <%= game.playable ? 'playable' : 'not playable'  %> </h2>
  <% if (user) { %>
  <form action="/games/<%= game._id %>/flip-playable?_method=PATCH" method="POST">
    <button class="btn" type="submit">
      Make game <%= game.playable ? 'not playable' : 'playable' %>
    </button>
  </form>
<% if (game.owner.equals(user?.profile._id)) { %>
  <a href="/games/<%= game._id %>/edit">
    <button class="btn"> Edit the Game Title</button>
  </a>
<% }} %>    
</section>

<%- include('../partials/footer') %> 